div.product_list_item {
  width: 13vw;
}

div.product_list_item img {
  width: 100%;
  object-fit: contain;
}
.what-happen-How-to-create {
  display: inline-block;
  width: 100%;
  height: auto;
  margin-top: 0.7vw;
  font-family: Montserrat;
  font-size: 1vw;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.94;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}
.product_list_item_details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.-won {
  font-family: Montserrat;
  font-size: 0.8vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.09;
  letter-spacing: normal;
  text-align: left;
  color: #222;
}

.product_list_item_likes {
  display: flex;
  align-items: center;
}

img.Hearticon {
    display: inline-block;
  width: 1vw;
  height: 1vw;
  object-fit: contain;
}

.-copy {
  width: 1vw;
  height: 1vw;
  font-family: Montserrat;
  font-size: 0.8vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.3;
  text-align: center;
  color: #666;
  margin-left: 0.3vw;
}
